<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" routerLink="content">Content</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="about">About</a>
		</li>

		<!-- Dropdown -->
		<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
			<a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
				Overview
			</a>
			<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
				<a ngbDropdownItem style="cursor: pointer" (click)="open()">Country</a>
				<a ngbDropdownItem style="cursor: pointer" (click)="aboutCountry()"  [routerLink]="[aboutcountry]" > About Country</a>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
			</div>
		</li>
	</ul>
</nav>